{% extends 'base.html.twig' %}

{% block title %}Hello PostController!{% endblock %}

{% block body %}

    <a href="{{ path('app_posts') }}">Back</a>

    {% if edit %}
        <h1>edit post</h1>

    {% else %}
        <h1>add a post</h1>

    {% endif %}

    {{ form_start(formPost)}}

    {{ form_row(formPost.title) }}
    {{ form_row(formPost.content) }}

    <button type="submit" class="btn btn-success">Post</button>

    {{ form_end(formPost) }}





{% endblock %}
