{% extends 'base.html.twig' %}

{% block title %}Hello PostController!{% endblock %}

{% block body %}

    <h1>Posts</h1>
    <a href="{{ path('create_post') }}">create</a>


    {% for post in posts %}

        <h4>{{ post.title }}</h4>
        <p>{{ post.content }}</p>
        <p class="text-secondary">{{ post.createdAt|date('H:s - d/m/Y') }}</p>
        <a href="{{ path('show_post', {id:post.id}) }}">see more</a>
        <a href="{{ path('edit_post', {id:post.id}) }}">edit</a>

        <hr>

    {% endfor %}

{% endblock %}
